body {
    margin: 0;
}
img {
    max-width: 100%;
}
header {
    margin-bottom: 50px;
}
.background {
    background-color: #fceae8;
    padding: 30px;
    border-radius: 10px;
}
.buy {
    background-color: #FF428D;
    text-transform: uppercase;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin-top: 20px;
}